<%= render 'layouts/header' %>

<h2> My Account </h2>

Name: <%= @user.name %><br>
Email: <%= @user.email %><br>

  <% if @user.id == session[:user_id]%>
    <%= link_to "Manage Your Account", edit_user_path(@user) %>
  <% end %>

<h3> Surveys I Created</h3>

<% @user.surveys.each do |item| %>
<%= link_to "#{item.name}",item %>
<% end %>
